@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Passion One', cursive;
	color: #1b1f26;
}

html{
  scroll-behavior: smooth;
}

div{
	float: left;
}

.log{
	position: fixed;
	display: flex;
	width: 20%;
	height: 10vh;
	padding: 1%;
	z-index: 5;
}

.log h1{
	line-height: 0.75;
	color: #192645;
	transition: 0.3s;
}

.nav a{
	text-decoration: none;
	display: inline-flex;
	transition: 0.3s;
}

.nav p{
	padding: 10px 20px;
	transition: 0.3s;
}

.nav p:hover{
	color: white;
	font-size: 3vh;
}

.nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	padding: 10px;
	text-align: right;
	z-index: 5;
}

.dropdown{
	z-index: 5;
	display: block;
	float: right;
	overflow: hidden;
	margin-right: -500px;
}


.dropdown button{
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}

.dropdown img{
	height: 5vh;
	transition: 0.3s;
	z-index: 5;
}

.dropdown-content {
	margin-top: 0px;
  display: none;
  background-color: transparent;
  min-width: 40px;
  z-index: 6;
  transition: 0.3s;
  margin-top: 50%;
}

.dropdown-content a {
  float: none;
  padding: 10% 0%;
  text-decoration: none;
  display: block;
  text-align: right;
  transition: 0.3s;
  font-size: 2.5vh;
  margin-right: -60%;
}

.dropdown-content a:hover{
	color: midnightblue;
}

.dropdown:hover{
	transition: 0.3s;
	transition: rotate(90deg);
}

.dropdown:hover .dropdown-content {
	transition: 0.3s;
  display: block;
}

@media screen and (max-width: 800px){
	.log h1{
		font-size: 4vh;
	}

	.nav p{
		font-size: 0px;
		padding: 0px;
		margin: 0px;
	}

	.dropdown{
		margin-right: -5px;
	}

	.dropdown img:hover{
	transform: rotate(90deg);
}
}

@media screen and (max-width: 200px){
	.dropdown{
		margin-right: -5px;
		margin-top: -15px;
	}

	.dropdown-content {
  margin-top: 30%;
}

	.dropdown-content a {
  margin-right: -15%;
}
}

.soc{
	position: fixed;
	bottom: 0;
	z-index: 5;
	margin-bottom: 2%;
}

@media screen and (max-width: 800px){
	.soc{
		margin-bottom: 10%;
	}
}

.soc img{
	padding: 20%;
	width: 7vh;
	display: block;
	transition: 0.3s;
	opacity: 30%;
}

.soc img:hover{
	width: 9vh;
	opacity: 100%;
}



.main{
	width: 100%;
	height: 100vh;
	background-image: url('img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 10%;
	padding-left: 4%;
	font-size: 500%;
	text-align: left;
	transition: 0.3s;
}


.shop{
	margin-top: 1%;
}

.shop a{
	width: 150%;
	text-decoration: none;
	align-items: center;
	overflow: hidden;
	border: solid;	
	display: flex;
	border-color: #1b1f26;
  transition: all 0.3s ease;
}

.shop a:hover{
	width: 180%;
}

.shop p{
	text-align: center;
	padding: 5%;
  transition: all 0.3s ease;
}

.shop a:hover{
	background-color: #1b1f26;
}

.shop a:hover > .hvrtxt{
	color: white;
}


@media screen and (max-width: 800px){
	.main{
		padding-top: 20%;
		font-size: 5vh;
	}

	.shop{
		height: 100vh;
	}

	.shop a .hvrtxt{
		width: 200%;
		height: 10vh;
		font-size: 7vw;
		padding: 0%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.shop a:hover{
		width: 220%;
	}
}

.main h1{
	line-height: 0.7;
}

.main p{
	font-size: 2.5vw;
}

.about{
	width: 100%;
	height: auto;
	transition: 0.5s;
}

.abtimg{
	width: 50%;
	height: 100vh;
	background-color: #b4c9e8;
	background-image: url('img/product.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5%;
	display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.abtimg img{
	width: 90%;
	margin: 5%;
	border: solid;
	border-color: white;
	border-width: 2vw;
  transition: all 0.3s ease;
}

.about img:hover{
	border-width: 0px;
  transition: all 0.3s ease;
}

.abtext{
	width: 50%;
	height: 100vh;
	display: inline-block;
	background-color: #b4c9e8;
	justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 2% 0%;
}

.abtext h1{
	color: #b4c9e8;
}

.abtext h2{
	color: white;
	font-size: 4vw;
}

.abtext p{
	text-align: justify;
	color: white;
	padding: 5% 5%;
	transition: 0.3s;
	font-size: 2.5vw;
}

#review {
	position: relative;
	background-color: white;
	border-radius: 30px;
	padding: 10px;
	overflow: hidden;
  margin: 3%;
}

#review figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	z-index: 1;
	animation: 20s review infinite;
}
#review figure img {
	width: 20%;
	float: left;
}

@keyframes review {
	 0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

@media screen and (max-width: 800px){
	.about{
		width: 100%;
		height: auto;
	}
	.abtimg{
		width: 100%;
		height: 60vh;
	}

	.abtext{
		width: 100%;
		height: auto;
	}

	#review{
		width: auto;
	}

	.abtimg img{
		border: none;
		width: 100%;
		height: auto;
	}

	.abtext p{
		font-size: 25px;
		padding: 5% 5%;
	}
}



.post{
	background-image: url('img/paper.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	padding-left: 4%;
	overflow: hidden;
	width: 100%;
	height: auto;
	transition: 0.5s;
}

.post p{
	text-align: center;
	font-size: 5vh;
	transition: 0.3s;
	color: #192645;
	}



.daily{
	width: 40%;
	margin: 6% 0%;
	text-align: center;
	align-items: center;
	justify-content: center;
  overflow: hidden;
}

#slider {
	overflow: hidden;
  background-color: white;
  border-style: solid;
  border-radius: 30px;
  border-width: 10px;
  border-color: #192645;
  background-color: #849bff;
  margin: 5%;
  margin-bottom: 1%;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 15s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
 	0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70% {
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}


.shoplink{
	width: 60%;
	padding: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.shoplink a{
	text-decoration: none;
}


.shoplink img{
	width: 20vw;
	border-radius: 7vh;
	border: solid;
	border-width: 10px;
  border-color: #192645;
	transition: 0.3s;
	margin: 5px 10px;
}

.shoplink img:hover{
	transform: translate(0%, -6%);
	border-width: 10px;	
}




@media screen and (max-width: 800px){

	.post{
		width: 100%;
		height: auto;
		padding-left: 0%;
	}
	.daily{
		width: 100%;
	}

	.shoplink{
		width: 100%;
	}

	.shoplink img{
		width: 45vw;
	}


}

.foot{
	width: 100%;
}

.mapimg{
	width: 70%;
	height: 100vh;
	padding: 3%;
	display: inline-block;
	text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
	background-color: #b4c9e8;
}

.mapimg p{
	padding: 5% 0%;
	color: white;
	font-size: 8vh;
}

.mapimg iframe{
	width: 90vh;
	height: 60vh;
	border: solid;
	border-width: 2vh;
	border-color: white;
	border-radius: 10px;
	transition: 0.3s;
}

.mapimg iframe:hover{
	width: 100vh;
	height: 65vh;
}


@media screen and (max-width: 800px){
	.mapimg iframe{
		width: 60vh;
		height: 60vh;
	}

	.mapimg iframe:hover{
		width: 65vh;
		height: 65vh;
	}

	.mapimg p{
		font-size: 4vh;
	}
}

.contact{
	width: 30%;
	height: 100vh	;
	display: block;
	padding: 4%;
	align-items: center;
	text-align: center;
	overflow:	 hidden;

}

.contact img:not(table *){
	height: 20vw;
}

.contact p{
	margin: 5% 0%;
	font-size: 3vh;
	text-align: justify;
}



table{
	text-align: left;
	padding-bottom: 50px;
}

table img{
	width: 3vh;
	margin-right: 20px;
}

@media screen and (max-width: 800px){

	.contact img:not(table *){
	height: 40vh;
	}

	.mapimg{
		width: 100%;
	}

	.contact{
		width: 100%;
	}

}




.next{
  position: absolute;
  bottom: 3%;
  filter: opacity(20%) invert(20%);
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

.next:hover{
  filter: invert(20%);
  transition: all 0.3s ease;
  bottom: 1%;
  transform: rotate(90deg);
}

.next img{
  padding: 20px;
  width: 10vh;
  transition: all 0.3s ease;
}

.next2{
	position: absolute;
  filter: opacity(20%) invert(20%);
  transition: all 0.3s ease;
  transform: rotate(90deg);
  bottom: -100%;
  left: 72%;
}



.next2:hover{
  filter: invert(20%);
  transition: all 0.3s ease;
  transform: rotate(90deg);
  bottom: -102%;

}

.next2 img{
  padding: 20px;
  height: 75px;
  transition: all 0.3s ease;

}

@media screen and (max-width: 800px){
	.next2{
		display: none;
	}
}

