@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Passion One', cursive;
	color: #1b1f26;
}

html{
  scroll-behavior: smooth;
}

div{
	float: left;
}

.log{
	position: fixed;
	display: flex;
	width: 20%;
	height: 10vh;
	padding: 1%;
	z-index: 5;
}

.log h1{
	line-height: 0.75;
	color: #192645;
	transition: 0.3s;
}

.nav a{
	text-decoration: none;
	display: inline-flex;
	transition: 0.3s;
}

.nav p{
	padding: 10px 20px;
	transition: 0.3s;
}

.nav p:hover{
	color: white;
	font-size: 3vh;
}

.nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	padding: 10px;
	text-align: right;
	z-index: 5;
}

.dropdown{
	z-index: 5;
	display: block;
	float: right;
	overflow: hidden;
	margin-right: -500px;
}


.dropdown button{
	background-color: transparent;
	border: none;
	outline: none;
}

.dropdown img{
	height: 5vh;
	transition: 0.3s;
	z-index: 5;
}

.dropdown-content {
	margin-top: 0px;
  margin-left: 40%;
  display: none;
  background-color: transparent;
  min-width: 40px;
  z-index: 6;
  transition: 0.3s;
}

.dropdown-content a {
  float: none;
  padding: 10% 2%;
  text-decoration: none;
  display: block;
  text-align: right;
  transition: 0.3s;
  font-size: 2.5vh;
}

.dropdown-content a:hover{
	color: midnightblue;
}

.dropdown:hover{
	transition: 0.3s;
	transition: rotate(90deg);
}

.dropdown:hover .dropdown-content {
	transition: 0.3s;
  display: block;
}

@media screen and (max-width: 800px){
	.log h1{
		font-size: 4vh;
	}

	.nav p{
		font-size: 0px;
		padding: 0px;
		margin: 0px;
	}

	.dropdown{
		margin-right: 0px;
	}

	.dropdown img:hover{
	transform: rotate(90deg);
}
}




.main{
	width: 100%;
	height: 100vh;
	background-image: url('img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 10%;
	padding-left: 4%;
	font-size: 6vw;
	text-align: left;
	transition: 0.3s;
}


.shop{
	margin-top: 1%;
}

.shop a{
	width: 150%;
	text-decoration: none;
	align-items: center;
	overflow: hidden;
	border: solid;	
	display: flex;
	border-color: #1b1f26;
  transition: all 0.3s ease;
}

.shop a:hover{
	width: 180%;
}

.shop p{
	text-align: center;
	padding: 5%;
  transition: all 0.3s ease;
}

.shop a:hover{
	background-color: #1b1f26;
}

.shop a:hover > .hvrtxt{
	color: white;
}


@media screen and (max-width: 800px){
	.main{
		padding-top: 20%;
		font-size: 7.5vw;
	}

	.shop{
		font-size: 10vw;
	}

	.shop p{
		font-size: 10vw;
	}

	.shop a{
		width: 200%;
	}
}

.main h1{
	line-height: 0.7;
}

.main p{
	font-size: 2.5vw;
}

.about{
	width: 100%;
	height: 100vh;
	transition: 0.5s;
}

.abtimg{
	width: 50%;
	height: 100%;
	background-color: #b4c9e8;
	background-image: url('img/product.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5%;
	display: flex;
  justify-content: center;
  align-items: center;
}

.abtimg img{
	width: auto;
	height: 80%;
	margin: 5%;
	border: solid;
	border-color: white;
	border-width: 2vw;
  transition: all 0.3s ease;
}

.about img:hover{
	border-width: 0px;
  transition: all 0.3s ease;
}

.abtext{
	border: solid;
	border-color: white;
	border-width: 10px;
	width: 50%;
	height: 100%;
	display: inline-block;
	background-color: #b4c9e8;
	justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.abtext h1{
	color: #b4c9e8;
}

.abtext p{
	text-align: center;
	font-size: 5vh;
	color: white;
	padding: 50px 50px;
	transition: 0.3s;
}

.review {
	background-color: white;
	padding: 10px;
	overflow: hidden;
  margin: 3%;
}

.review figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	z-index: 1;
	animation: 30s slider infinite;
}
.review figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}
	20% {
		left: -100%;
	}
	30% {
		left: -100%;
	}
	40% {
		left: -200%;
	}
	50% {
		left: -200%;
	}
	60% {
		left: -300%;
	}
	70% {
		left: -300%;
	}
	80% {
		left: -400%;
	}
	90% {
		left: -400%;
	}
	100% {
		left: 0;
	}
}

@media screen and (max-width: 800px){
	.about{
		width: 100%;
		height: 140vh;
	}
	.abtimg{
		width: 100%;
		height: 60vh;
	}

	.abtext{
		width: 100%;
		height: 80vh;
	}

	.abtimg img{
		border: none;
		height: 100%;
	}

	.abtext p{
		font-size: 25px;
		padding: 50px 50px;
	}
}



.post{
	width: 100%;
	height: 100vh;
	transition: 0.5s;
}

.mapimg{
	border: solid;
	border-color: white;
	border-width: 10px;
	border-top: 0px;
	background-color: #b4c9e8;
	width: 50%;
	height: 100vh;
	padding: 3%;
	display: inline-block;
	text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mapimg p{
	padding: 5% 0%;
	color: white;
}

.mapimg iframe{
	width: 60vh;
	height: 60vh;
	border: solid;
	border-width: 1vh;
	border-color: white;
	transition: 0.3s;
}

.mapimg iframe:hover{
	width: 65vh;
	height: 65vh;
}



.daily{
	background-image: url('img/paper.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 100vh;
	display: inline-block;
	background-color: #b4c9e8;
	text-align: center;
	justify-content: center;
  align-items: center;
  overflow: hidden;
}

#slider {
	overflow: hidden;
  background-color: white;
  border-style: solid;
  border-color: #ffdf57;
  background-color: #849bff;
  margin: 5%;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}
	20% {
		left: -100%;
	}
	30% {
		left: -100%;
	}
	40% {
		left: -200%;
	}
	50% {
		left: -200%;
	}
	60% {
		left: -300%;
	}
	70% {
		left: -300%;
	}
	80% {
		left: -400%;
	}
	90% {
		left: -400%;
	}
	100% {
		left: 0;
	}
}


.post p{
	text-align: center;
	font-size: 5vh;
	transition: 0.3s;
}

/*.foot{
	position: initial;
	background-color: white;
	height: 2%;
	width: 100%;
}

.foot p{
	font-size: 2vh;
}
*/
@media screen and (max-width: 800px){

	.daily{
		width: 100%;
		height: 100vh;
	}

	.mapimg{
		width: 100%;
		height: 100vh;
	}

/*	.foot{
		width: 100%;
		height: 10vh;
	}*/
}





.next{
  position: absolute;
  bottom: 3%;
  filter: opacity(20%) invert(20%);
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

.next:hover{
  filter: invert(20%);
  transition: all 0.3s ease;
  bottom: 1%;
  transform: rotate(90deg);
}

.next img{
  padding: 20px;
  height: 75px;
  transition: all 0.3s ease;
}

.next2{
	position: absolute;
  filter: opacity(20%) invert(20%);
  transition: all 0.3s ease;
  transform: rotate(90deg);
  bottom: -100%;
  left: 72%;
}



.next2:hover{
  filter: invert(20%);
  transition: all 0.3s ease;
  transform: rotate(90deg);
  bottom: -102%;

}

.next2 img{
  padding: 20px;
  height: 75px;
  transition: all 0.3s ease;

}

@media screen and (max-width: 800px){
	.next2{
		display: none;
	}
}

