@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}


nav{
  position: fixed;
  background-color: rgb(44, 51, 51);
  width: 100%;
  padding: 20px 0;
  z-index: 12;
}

nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.menu .logo img{
  padding: 0px 2px;
}

.menu ul{
  display: inline-flex;
}

.menu ul li{
  list-style: none;
  margin-left: 7px;
}


.menu ul li:first-child{
  margin-left: 0px;
}


.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 2px;
  transition: all 0.3s ease;
}


.menu ul li a:hover{
  background-color: white;
  color: rgb(44, 51, 51);
  border-radius: 12px;

}


.bg{
  position: relative;  
  top: 100px;
  margin-bottom: 10%;
  border-radius: 0px 60px 60px 0px;
  margin-right: 20%;
  background-color: rgb(57,91,100);
  display: flex;
  flex-wrap: wrap;

}


.info{
  position: relative;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  flex: 55%;
}


.info h1{
  padding-top: 40px;
  font-size: 5.5vw;
  font-family: 'Caveat', cursive;
  color: #fff;
}


.info p{
  font-size: 3vw;
  color: #fff;
}


.contact{
  margin-bottom: 3%;
  margin-right: 3%;
  background-color: white;
  width: 60vh;
  height: 27vh;
  border-radius: 0px 30px 30px 0px;
  padding-left: 3%;
  transition: all 0.3s ease;
}

.contact:hover{
  width: 70vh;
}


.contact p{
  position: absolute;
  font-size: 4vh;
  padding: 0px 0px 0px 50px;
  color: rgb(44, 51, 51);
}

.contact img{
  filter: invert(15%);
  position: absolute;
  color: rgb(44, 51, 51);
  height: 4vh;
}

.me img{
  height: 75vh;
  margin-right: calc(0% - 20vw);
  flex: 45%;
  transition: all 0.3s ease;

}

.me img:hover{
  height: 90vh;
  filter: brightness(1.1);
}


@media (max-width: 800px) {
 .info, .me img,{
    flex: 100%;
  }
}

.socmeds{
  margin: 5%;
}

.socmeds img{
  height: 10vh;
  padding: 5px; 
  filter: invert(100%);
  transition: all 0.3s ease;

}

.socmeds img:hover{
  height: 12vh;
  filter: invert(15%);
}


/*  Career CSS  */

.bg2{  
  position: relative;  
  top: 100px;
  left: 5%;
  margin-bottom: 10%;
  border-radius: 60px;
  background-color: rgb(57,91,100);
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}

.whitebg{
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  background-color: white;
  padding: 10px;
  width: 30%;
  height: 80%;
  border-radius: 50px;

}

.whitebg img{
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 3%;
  height: 450px;
  flex: 50%;
  transition: all 0.3s ease;
}

.whitebg img:hover{
  filter: brightness(1.2);
  margin-left: 7%;
  border: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 40px;
  transition: all 0.3s ease;
}


.mc{
  color: white;
  font-size: 30px;
  margin: 30px 50px 20px 50px;
  text-align: center;
  padding: 5px;
  flex: 50%;
  margin-bottom: 10%;
}


.mc img{
  position: relative;
  height: 200px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  transition: all 0.3s ease;
}

.mc img:hover{
  height: 275px;
}


@media (max-width: 800px) {
 .whitebg .whitebg img,.mc {
    flex: 100%;
  }
}

/* Services CSS */

.serv{
  position: relative;
  top: 65px;
  background-color: rgb(57,91,100);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.cam{
  flex: 45%;
  text-align: center;
}

.cam img{
  margin-top: 5%;
  padding-top: 10%;
  height: 45vh;
  padding: 30px;
  transition: all 0.3s ease;
}

.cam img:hover{
  filter: invert(80%);
  height: 50vh;

}


.cam p{
  padding: 20px;
  margin: 20px 50px 0px 50px;
  color: rgb(57,91,100);
  font-size: 3vh;
  border-radius: 20px;
  background-color: white;
  transition: all 0.3s ease;
}

.cam p:hover{
  font-size: 3.5vh
}

.offer{
  flex: 55%;
  background-color: #f7f7f7;
  color: rgb(57,91,100);
  text-align: center;
  border-radius: 30px 0px 0px 30px;
  margin: 40px 0px;
}

.offer h1{
  font-family: 'Caveat', cursive;
  font-size: 6vh;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.offer p{
  border: solid;
  border-radius: 10px;
  font-size: 3vh;
  margin-top: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  transition: all 0.3s ease;

}

.offer a{
  color: rgb(57,91,100);
  text-decoration: none;
  transition: all 0.3s ease;

}

.offer p:hover{
  border: solid;
  background-color: rgb(57,91,100);
  color: white;
  transition: all 0.3s ease;
  font-size: 4vh;
}

.offer img{
  padding: 5%;
  height: 60vh;
  width: 70vh;
  transition: all 0.3s ease;
}

.offer img:hover{
  height: 70vh;
  width: 80vh;
}



@media (max-width: 800px) {
  .cam, .offer {
    flex: 100%;
  }
}

.next{
  position: fixed;
  top: 50%;
  right: 3%;
  filter: opacity(0%) invert(20%);
  transition: all 0.3s ease;
}

.next:hover{
  filter: invert(20%);
  right: 1%;
  transition: all 0.3s ease;

}

.next img{
  padding: 30px;
  height: 100px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 100px;
  transition: all 0.3s ease;

}

.prev{
  position: fixed;
  top: 50%;
  left: 3%;
  filter: opacity(0%) invert(20%);
  transition: all 0.3s ease;
}

.prev:hover{
  filter: invert(20%);
  left: 1%;
}

.prev img{
  transform: rotate(180deg);
  padding: 30px;
  height: 100px;
  background-color: rgba(255,255,255, 0.2);
  border-radius: 100px;
}